# Игнорирование виртуальных окружений
/.venv/
venv/

# Кэш Python
__pycache__/
*.pyc
*.pyo

# Сборочные файлы и артефакты
/build/
/dist/
*.spec

# Логи и временные файлы
*.log
*.tmp
*.swp

# Конфигурационные файлы IDE
.vscode/
.idea/
*.iml

# Системные файлы macOS
.DS_Store

# База данных
*.db
.env
*.local
/venv/
__pycache__
